<form class="example-form">
  <mat-form-field class="example-full-width">
<!-- #docregion input -->
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
<!-- #enddocregion input -->
<!-- #docregion mat-autocomplete -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
<!-- #enddocregion mat-autocomplete -->
  </mat-form-field>
</form>
<mat-button-toggle-group #group="matButtonToggleGroup" style="padding-right:10px">
  <mat-button-toggle value="G">G</mat-button-toggle>
  <mat-button-toggle value="G">PG</mat-button-toggle>
  <mat-button-toggle value="G">PG-13</mat-button-toggle>
  <mat-button-toggle value="G">R</mat-button-toggle>

</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>

