.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 200px;
    border: 1px solid rgb(52, 190, 17);
    background-color: rgb(235, 241, 247);
  }
  
  .example-full-width {
    width: 100%;
  }
  .custom-input {
    border: none;
    margin-top: 0;
  }
  .custom-icon {
    cursor: pointer;
  }
  .custom-form-field-icon {
    position: absolute;
    right: 0;
    top: 0;
  }