<form class="example-form">
  <mat-form-field class="example-full-width">
<!-- #docregion input -->
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
<!-- #enddocregion input -->
<!-- #docregion mat-autocomplete -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
<!-- #enddocregion mat-autocomplete -->
  </mat-form-field>
</form>
<mat-card class="example-card">
  <mat-card-title>Mat card action buttons</mat-card-title>
  <mat-card-actions>
    <button mat-button color="primary">button</button>
    <button mat-raised-button color="primary">raised</button>
    <button mat-stroked-button color="primary">stroked</button>
    <button mat-flat-button color="primary">flat</button>
  </mat-card-actions>
</mat-card>
<button mat-button (click)="onClick()">Open dialog</button>